<form class="options-body row" [formGroup]="optionsForm" (submit)="submitOptions(optionsForm.value)" novalidate>

  <div class="col-12">
    <p class="centered">Choose your piece</p>

    <div class="button-spacing" data-toggle="buttons">
      <label class="btn btn-warning big-btn" (click)="toggleMarker('o')">
        <input type="radio"> O
      </label>
      <label class="btn btn-warning big-btn" (click)="toggleMarker('x')">
        <input type="radio"> X
      </label>
    </div>
  </div>

  <div class="col-12">
    <p class="centered">How many players?</p>

    <div class="button-spacing" data-toggle="buttons">
      <label class="btn btn-info big-btn" (click)="togglePlayers('1')"> 
        <input type="radio" > 1
      </label>
      <label class="btn btn-info big-btn" (click)="togglePlayers('2')"> 
        <input type="radio" > 2
      </label>
    </div>

  </div>

  <div class=" col-12 centered">
    <button [disabled]="!optionsForm.valid" class="btn btn-success" type="submit"> Play! </button>
  </div>


</form>