<div class="board container-fluid">

  <div class="row">
    <div class="col-4">
      Turn : {{markerParse(currentTurn)}}
    </div>

    <div class="col-4">
      Winner: {{markerParse(winner)}}
    </div>

    <div class="col-4">
      Player: {{markerParse(playerMarker)}} {{playerMarker}}
    </div>

  </div>



  <div class="row full-height" *ngFor="let bgRow of boardGame; let x=index">
    <div *ngFor="let element of bgRow; let y=index" class="col-4 border marker" (click)="placeMarker(x, y)">
      {{markerParse(boardGame[x][y])}}
    </div>
  </div>

  <div class="col-12" class="centered">
    <button class="btn btn-warning" routerLink="/choose"> Return </button>

    <button class="btn btn-danger" (click)="reset()"> Reset </button>
  </div>
</div>